
<header style="height:40px;background-color:red;"></header>

<main class="container">
  <div class="form-group">
    <label for="name">plz enter your name:</label>
    <input #uname type="text" class="form-control" id="name">
  </div>
  
 
  <button type="button" (click)="welcome();"class="btn btn-primary">ShowSomeMessage</button>
  <button type="button" (click)="showEnteredData(uname.value);"class="btn btn-primary"style="margin-left:10px;">ShowEnteredData</button>
  <button type="button" (click)="clearMsg();"class="btn btn-danger"style="margin-left:10px;">clear</button>
<hr>
  <span style="font-size:18px">coming.....{{msg}}</span>
  <br>
  <span style="font-size:18px">{{msg}}</span>
  <span style="font-size:18px">entered value is...{{enteredValue}}</span>
</main>
