
<header style="height:40px;background-color:red;"></header>

<main class="container">
  <div class="form-group">
    <label for="name">plz enter your name:</label>
    <input [(ngModel)]="uname" type="text" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="password">plz enter your password:</label>
    <input [(ngModel)]="pass" type="text" class="form-control" id="password">
  </div>
  
 
  <button type="button" (click)="welcome();"class="btn btn-primary">ShowSomeMessage</button>
  <button type="button" (click)="showEnteredData();"class="btn btn-primary"style="margin-left:10px;">ShowEnteredData</button>
  <button type="button" (click)="clearMsg();"class="btn btn-danger"style="margin-left:10px;">clear</button>
  <button type="button" (click)="authenticate();"class="btn btn-danger"style="margin-left:10px;">login</button>
  <button type="button" (click)="showHistory();"class="btn btn-danger"style="margin-left:10px;">{{showHistoryBtn}}</button>
 
  
<hr>
  <span style="font-size:18px">coming message is .....{{msg}}</span>
  <br>
  <span style="font-size:18px">message is ...{{msg}}</span>
  <br>
  <span style="font-size:18px">entered value is...{{enteredValue}}</span>

  <hr>

  <span style="font-size:18px">{{authMessage}}</span>
  <hr>

  <div *ngIf="showTable">
    <h2>History..</h2>             
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>username</th>
          <th>password</th>
          <th>last login</th>
          <th>status</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let auth of listOfAuth ">
          <td>{{auth.uname}}</td>
          <td>{{auth.pass}}</td>
          <td>{{auth.time}}</td>
          <td>{{auth.status}}</td>
          <td> <button type="button"  (click)="deleteAuth(auth);"class="btn btn-primary">Delete</button></td>
        </tr>
       
      </tbody>
    </table>
  </div>

</main>
